
.main-bg {
  background-color: hsl(222, 26%, 31%);
}
#display {
  background-color: hsl(224, 36%, 15%) !important; 
  color: hsl(0, 0%, 100%) !important; 
  border: none;
}

.calculator {
  background-color: hsl(223, 31%, 20%);
  box-shadow: 0 4px 8px hsl(224, 28%, 35%);
}
.display {
  background-color: hsl(223, 54%, 5%);
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  padding: 10px;
}

.btn-primary {
  background-color: hsl(0, 9%, 79%) !important;
  color: hsl(0, 3%, 28%);
  border: none;
}

.btn-primary:active {
  box-shadow: 0 2px hsl(224, 28%, 35%);
}

.btn-danger {
  background-color: hsl(221, 66%, 73%) !important;
  color: hsl(0, 0%, 100%);
  border: none;
}

.btn-danger:active {
background-color:hsl(221, 66%, 100%) ;
}

.btn-warning {
  background-color: hsl(6, 63%, 50%) !important;
  color: hsl(0, 0%, 100%);
  box-shadow: 0 4px hsl(6, 70%, 34%);
  border: none;
}

.btn-warning:active {
  background-color:hsl(28, 16%, 65%);
}